


<div class="logo">
    <div class = 'signed-in-status'>
        {% if user.is_authenticated %}
            <strong>{{ user.username }}</strong> Ready!
        {% else %}
            Not signed in.
        {% endif %}
    </div>
</div>
<nav class="desktop-main-menu">

    <ul>
        <li><a href="{% url 'auctions:index' %}">Active Listings</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'auctions:load_watchlist' %}">Watchlist</a></li>
            <li><a href="{% url 'auctions:create_listing' %}">Sell Item</a></li>
            <li><a href="{% url 'auctions:logout' %}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'auctions:login' %}">Log In</a></li>
            <li><a href="{% url 'auctions:register' %}">Register</a></li>
        {% endif %}
    </ul>

</div>