{% load static %}

<!DOCTYPE html>
<html lang="en">


    <head>

        <link rel="icon" href="data:''">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link  href="{% static 'auctions/css/style.css' %}?v0.03" rel="stylesheet">
    
        <title>{% block title %}Auctions{% endblock %}</title>

    </head>



    <body>

        <header class="nav_wrapper">
        {% include 'auctions/top_navbar.html' %}
        </header>

        {% block body %}
        {% endblock %}


    </body>
</html>